<!DOCTYPE html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head th:replace="nav::head(~{::title},~{::link},~{::script})">
    <title>登陆</title>
    <link rel="stylesheet" href="">
    <script></script>
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">Pex众筹 后台管理</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item">
                <a >控制台</a>
            </li>
            <li class="layui-nav-item">
                <a   target="_top" >商品管理</a>
            </li>
            <li class="layui-nav-item">
                <a   target="_top">用户</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="">邮件管理</a>
                    </dd>
                    <dd>
                        <a href="">消息管理</a>
                    </dd>
                    <dd>
                        <a href="">授权管理</a>
                    </dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="">基本资料</a>
                    </dd>
                    <dd>
                        <a href="">安全设置</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a onclick="confirm_logout()">退出</a>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a  href="javascript:;" >订单管理</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a >快递填写</a>
                        </dd>

                    </dl>
                </li>


                <li class="layui-nav-item">
                    <a href="javascript:;">解决方案</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;">列表一</a>
                        </dd>
                        <dd>
                            <a href="javascript:;">列表二</a>
                        </dd>

                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="">云市场</a>
                </li>

            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">


                <div class="demoTable">
                    搜索商户：
                    <div class="layui-inline">
                        <input class="layui-input" name="keyword" id="demoReload" autocomplete="off">
                    </div>
                    <button class="layui-btn" data-type="reload" id="searchbtn">搜索</button>
                </div>
                <table class="layui-hide" id="LAY_table_user" lay-filter="useruv" style="line-height: 28px;"></table>

            </div>


        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © layui.com - 底部固定区域
        </div>

</div>
</body>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-mini" lay-event="edit">输入快递单号</a>

</script>

<script>





    function confirm_logout() {
        // 调用layer弹窗组前端件
        layer.open({
            // 弹窗标题
            title: "退出账号",
            // 正文
            content: "您确认退出账号吗？",
            // 点击确定按钮后调用的回调函数
            yes: function(index, layero) {
                // 指定应当前往的 url
                // location.href='{% url 'logout'  %}'
                location.href="/mycrowdfunding"
            },
        })
    }
    layui.use('table', function(){
        var table = layui.table;
        //方法级渲染
        table.render({

            elem: '#LAY_table_user'
            ,url: '/getallingorderbycid'

            ,cols: [
                [
                    {checkbox: true, fixed: true}
                    ,{field:'oid', title: '订单号', width:160, sort: true, fixed: true}
                    ,{field: 'trade_no', title: '支付宝交易号', width: 160, sort: true}
                    ,{field: 'money', title: '付款金额', width: 160, sort: true}
                    ,{field:'title', title: '参与的项目', sort: true,width:150,templet:'<div>{{d.crowdfunding.title}}</div>'}
                    ,{field:'cid', title: '项目ID', width:200, sort: true,templet:'<div>{{d.crowdfunding.gear.cid}}</div>'}
                    ,{field:'receiver', title: '收货人', width:80, sort: true}
                    ,{field:'address', title: '地址', width:160, sort: true,edit:true}
                    ,{field:'mobile', title: '联系电话', width:130,sort: true}
                    ,{field:'message', title: '备注', width:130}
                    ,{field:'status', title: '订单状态', width:100,sort: true}
                    ,{field:'express_id', title: '快递单号', width:100,sort: true}
                    ,{field:'begin_time', title: '订单生成时间', width:125,sort: true}


                    , {field:'right', title: '操作', width:300,toolbar:"#barDemo"}

                    // ,{field:'datatype', title: '日期类型', width:100}
                ]
            ]
            ,page: true
            ,height: 600
        });
        var $ = layui.$, active = {
            reload: function(){
                var demoReload = $('#demoReload');

                table.reload('LAY_table_user', {
                    where: {
                        keyword: demoReload.val()

                    }
                });
            }
        };

        $('#searchbtn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        table.on('checkbox(useruv)', function(obj){
            console.log(obj)
        })


        table.on('tool(useruv)', function(obj){
            var data = obj.data;

            if(obj.event === 'edit'){


                layer.prompt({
                    formType: 2
                    ,title: '修改或者添加快递单号'
                    ,value: data.express_id
                }, function(value, index){
                    console.log(value)
                    console.log(data.oid)
                    //这里一般是发送修改的Ajax请求
                    $.ajax({
                        url: "/editexpress",
                        type: "POST",
                        data:{"oid":data.oid,"express_id":value},
                        dataType: "json",
                        success: function(data){

                                if (data.status==1){


                                layer.close(index);
                                //同步更新表格和缓存对应的值
                                obj.update({
                                    express_id: value
                                });
                                layer.msg("信息更新成功", {icon: 6})
                                }else {
                                    layer.close(index);
                                    layer.msg("出错了 请稍后再试", {icon: 6})
                                }


                        },
                        error:function () {
                            layer.msg("出错了", {icon: 5})
                        }

                    });



                });



            }
        });


        function  EidtUv(data,value,index,obj) {


        }








    })



        //监听工具条




</script>
</html>